@model CountriesViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;

@{
    ViewBag.Title = $"{Model.CountryList.FirstOrDefault().Country}";
    Layout = "_Layout";
}

<div class="col-lg-4 dashboard">
    <div class="container-fluid">
        <div class="panel-group" id="country">
            @foreach (var country in Model.CountryList)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#D1D0DE">
                        <h4 class="panel-title">
                            <a class="list-group-item panel-height" data-toggle="collapse" data-target="#country-@country.IdCountry" data-parent="#country" data-id="@country.IdCountry" style="color:white; background-color:#00A4E4; font-weight:bold; cursor:default">@country.Country</a>
                        </h4>
                    </div>
                    <div id="country-@country.IdCountry" class="panel-collapse collapse">
                        <div class="panel-body" style="background-color:#D1D0DE">
                            <div class="
                                 " id="process-@country.IdCountry">
                                <div class="panel panel-default">
                                    @foreach (var process in country.ProcessList)
                                    {
                                        <div class="panel">
                                            <a class="list-group-item small" data-toggle="collapse" data-target="#process-@process.ID_Process" data-parent="#process-@country.IdCountry" data-id="@process.ID_Process" style="color:white; background-color:#00A4E4; padding-bottom: 5px; padding-top: 5px; cursor:default">@process.Process</a>
                                        </div>

                                        <div class="panel-collapse collapse" id="process-@process.ID_Process">
                                            <div class="panel-body">
                                                <div class="row" style="text-align:center">
                                                    <div class="col-sm-4">
                                                        <h6>Line of business</h6>
                                                        <div class="btn-group-vertical center-block" data-toggle="buttons" id="Lob">
                                                            @foreach (var lob in process.LobList.OrderBy(l => l.Lob))
                                                            {
                                                                <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                    <input class="form-check-label" type="radio" autocomplete="off" id="@lob.ID_Lob">@lob.Lob
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <h6>Activity</h6>
                                                        <div class="btn-group-vertical center-block" data-toggle="buttons" id="Activity">
                                                            @foreach (var activity in process.ActivityList.OrderBy(a => a.Activity))
                                                            {
                                                                <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                    <input class="form-check-label" type="radio" autocomplete="off" id="@activity.IdActivity">@activity.Activity
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <h6>Status</h6>
                                                        <div class="btn-group-vertical center-block" data-toggle="buttons" id="Status">
                                                            @foreach (var status in process.StatusList.OrderBy(s => s.Status))
                                                            {
                                                                <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                    <input class="form-check-label" type="radio" autocomplete="off" id="@status.IdStatus">@status.Status
                                                                </label>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="col-lg-8 dashboard">
    <div class="affix">
        <div class="col-lg-6">
            <div class="panel-group">
                <div class="panel-default">
                    <div class="panel-heading" style="background-color:#D1D0DE">
                        <div class="panel-title" style="background-color:#00A4E4; color:white; text-align:center; font-weight:bold">
                            <span id="currentstatus">
                                Active
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <label>Update status</label>
                    <select id="useractivity" style="width:100%; height:30px;">
                        @foreach (var status in Model.MiningList)
                        {
                            <option id=@status.IdMining value=@status.State style="padding-left: 20px;">@status.State</option>
                        }
                    </select>
                    <hr />
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <form id="submittranform" method="post">
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label asp-for="Transaction.IdNumber">Policy Number</label>
                                <input asp-for="Transaction.IdNumber" class="form-control" id="policynumber1" placeholder="Enter policy number">
                                <span asp-validation-for="Transaction.IdNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="Transaction.Premium">Premium</label>
                                <input asp-for="Transaction.Premium" class="form-control" id="amount1" placeholder="Enter amount">
                                <span asp-validation-for="Transaction.Premium" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="Transaction.CurrencyCode">Currency</label>
                                <input asp-for="Transaction.CurrencyCode" class="form-control" id="currCode1" placeholder="Code">
                                <span asp-validation-for="Transaction.CurrencyCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label asp-for="Transaction.StartDate">Start Date</label>
                                <div class="input-group date">
                                    @{
                                        DateTime sd = (DateTime)JsonConvert.DeserializeObject(Context.Session.GetString("StartDate"));
                                        var sDate = sd.ToString("yyyy-MM-dd HH:mm:ss");
                                    }
                                    <input class="form-control form-date" readonly="readonly" disabled="disabled" id="Transaction_StartDate" value="@sDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Transaction.ReceivedDate">Received Date</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input asp-for="Transaction.ReceivedDate" class="form-control form-date" placeholder="Enter received date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Transaction.ReceivedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-12">
                                <label asp-for="Transaction.Comment">Comment</label>
                                <textarea asp-for="Transaction.Comment" class="form-control" rows="5" id="comment1" placeholder="Enter comment"></textarea>
                                <span asp-validation-for="Transaction.Comment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label asp-for="Transaction.InceptionDate">Inception Date</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input asp-for="Transaction.InceptionDate" class="form-control form-date" placeholder="Enter inception date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Transaction.InceptionDate" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label asp-for="Transaction.DateReceivedInAig">Bound Date</label>
                                <div class='input-group date' id='datetimepicker3'>
                                    <input asp-for="Transaction.DateReceivedInAig" class="form-control form-date" placeholder="Enter bound date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span asp-validation-for="Transaction.DateReceivedInAig" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-check-input col-lg-4" style="font-size:11px;">
                                <div class="form-group-sm">
                                    <input class="form-check-input" type="checkbox" id="sectionCheck">
                                    <label class="form-check-label" for="sectionCheck">
                                        Lock sections
                                    </label>
                                </div>
                                <div class="form-group-sm">
                                    <input class="form-check-input" type="checkbox" id="receivedCheck">
                                    <label class="form-check-label" for="receivedCheck">
                                        Lock received date
                                    </label>
                                </div>
                                <div class="form-group-sm">
                                    <input asp-for="Transaction.IsPriority" class="form-check-input" id="priorityCheck" />
                                    <label asp-for="Transaction.IsPriority" class="form-check-label" for="priorityCheck"></label>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.IdCountry" class="text-danger"></span>
                                    <input asp-for="Transaction.IdCountry" class="hidden" name="CountrySelection" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.IdProcess" class="text-danger"></span>
                                    <input asp-for="Transaction.IdProcess" class="hidden" name="ProcessSelection" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.Process" class="text-danger"></span>
                                    <input asp-for="Transaction.Process" class="hidden" name="ProcessName" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.IdActivity" class="text-danger"></span>
                                    <input asp-for="Transaction.IdActivity" class="hidden" name="ActivitySelection" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.Activity" class="text-danger"></span>
                                    <input asp-for="Transaction.Activity" class="hidden" name="ActivityName" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.IdLob" class="text-danger"></span>
                                    <input asp-for="Transaction.IdLob" class="hidden" name="LobSelection" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.Lob" class="text-danger"></span>
                                    <input asp-for="Transaction.Lob" class="hidden" name="LobName" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.IdStatus" class="text-danger"></span>
                                    <input asp-for="Transaction.IdStatus" class="hidden" name="StatusSelection" />
                                </div>
                                <div class="form-group-sm">
                                    <span asp-validation-for="Transaction.Status" class="text-danger"></span>
                                    <input asp-for="Transaction.Status" class="hidden" name="StatusName" />
                                </div>
                            </div>
                            <div class="form-group col-lg-2">
                                <button type="submit" class="btn btn-lg pull-right" style="color:white; background-color:#00A4E4;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6" >
            <h4>My previous transaction</h4>
            <table class="table table-bordered table-condensed transaction" id="previousTransactionTable">
                <thead>
                    <tr style="background-color:#D1D0DE">
                        <th class="row-process">Process</th>
                        <th class="row-lob">LOB</th>
                        <th class="row-premium">Premium</th>
                        <th class="row-received">Received Date</th>
                        <th class="row-docId">Doc ID</th>
                        <th class="row-status">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model.PreviousTransaction)
                    {
                        <tr id="previous-@element.DocId">
                            <td>@element.Process</td>
                            <td>@element.Lob</td>
                            <td>@element.Premium</td>
                            <td>@element.ReceivedDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>
                                <button type="button" class="btn btn-info btn-xs" onclick="returnTransaction(@element.DocId)">@element.DocId</button>
                            </td>
                            <td>@element.Status</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4>My pending transactions</h4>
            <table class="table table-bordered table-condensed table-hover transaction" id="pendingTransactionTable">
                <thead>
                    <tr style="background-color:#D1D0DE">
                        <th class="row-process">Process</th>
                        <th class="row-lob">LOB</th>
                        <th class="row-premium">Premium</th>
                        <th class="row-received">Received Date</th>
                        <th class="row-docId">Doc ID</th>
                        <th class="row-status">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PendingList.Count; i++)
                    {
                        <tr id="pending-@Model.PendingList[i].TransactionId">
                            @* class="@(i % 2 == 1 ? "active" : "")" *@
                            <td>@Model.PendingList[i].Process</td>
                            <td>@Model.PendingList[i].Lob</td>
                            <td>@Model.PendingList[i].Premium</td>
                            <td>@Model.PendingList[i].ReceivedDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>
                                <button type="button" class="btn btn-info btn-xs" onclick="returnTransaction(@Model.PendingList[i].TransactionId)">@Model.PendingList[i].TransactionId</button>
                            </td>
                            <td>@Model.PendingList[i].Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <script language="javascript" type="text/javascript">
        $(function () {
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
                $('#datetimepicker2').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
                $('#datetimepicker3').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
            });
        })
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_DashboardScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_DashboardTimeoutMessage"); }
}