@model DailyTransactionsViewModel
@{
    ViewData["Title"] = "MyDailyTransactions";
}

<h4>My daily transactions</h4>
<table class="table table-bordered table-striped table-condensed" style="font-size:10px;">
    <thead>
        <tr style="color: white; background-color: #00A4E4;">
            <th style="vertical-align: top;">Transaction ID</th>
            <th style="vertical-align: top;">Function Name</th>
            <th style="vertical-align: top;">Country</th>
            <th style="vertical-align: top;">Team Leader</th>
            <th style="vertical-align: top;">User Name</th>
            <th style="vertical-align: top;">Process</th>
            <th style="vertical-align: top;">Process Map</th>
            <th style="vertical-align: top;">Activity</th>
            <th style="vertical-align: top;">LOB</th>
            <th style="vertical-align: top;">ReceivedDate</th>
            <th style="vertical-align: top;">StartDate</th>
            <th style="vertical-align: top;">CompleteDate</th>
            <th style="vertical-align: top;">Comment</th>
            <th style="vertical-align: top;">ID Number</th>
            <th style="vertical-align: top;">Status</th>
            <th style="vertical-align: top;">Premium</th>
            <th style="vertical-align: top;">Currency Code</th>
            <th style="vertical-align: top;">MNC</th>
            <th style="vertical-align: top;">Priority</th>
            <th style="vertical-align: top;">SLA Hrs</th>
            <th style="vertical-align: top;">SLA Target</th>
            <th style="vertical-align: top;">SLA Type</th>
            <th style="vertical-align: top;">SLA Transaction</th>
            <th style="vertical-align: top;">SLA Achievment</th>
            <th style="vertical-align: top;">Handling Time</th>
            <th style="vertical-align: top;">Multi-Step Transaction</th>
            <th style="vertical-align: top;">Audit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.DailyTransactionsList)
        {
            <tr>
                <td>@element.TransactionId</td>
                <td>@element.FunctionName</td>
                <td>@element.Country</td>
                <td>@element.TeamLeader</td>
                <td>@element.UserName</td>
                <td>@element.Process</td>
                <td>@element.ProcessMap</td>
                <td>@element.Activity</td>
                <td>@element.Lob</td>
                <td>@element.ReceivedDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@element.StartDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@element.CompleteDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@element.Comment</td>
                <td>@element.IdNumber</td>
                <td>@element.Status</td>
                <td>@element.Premium</td>
                <td>@element.CurrencyCode</td>
                <td>@element.Mnc</td>
                <td>@element.Priority</td>
                <td>@Math.Round((double)element.SLAHrs, 4)</td>
                <td>@element.SLATarget</td>
                <td>@element.SLAType</td>
                <td>@element.SLATransaction</td>
                <td>@element.SLAAchievment</td>
                <td>@TimeSpan.FromDays((double)element.HandlingTime)</td>
                <td>@element.MultiStepTransaction</td>
                <td>@element.Audit</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/booster.js"></script>
}