@page
@using Metrics_Track.Areas.Management.Pages
@model ReportingModel
@{
    ViewData["Title"] = "Transactions Administration";
}

<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />
<div class="container-fluid">
    <form method="post">
        <label asp-for="ReceivedDate"></label>
        <input asp-for="ReceivedDate" />
        <label asp-for="CompleteDate"></label>
        <input asp-for="CompleteDate" />
        <button type="submit" class="btn btn-group-sm" style="color:white; background-color:#00A4E4;">Search</button>
    </form>
    <hr />
    <table class="table table-bordered table-condensed table-hover" style="font-size:10px;">
        <thead>
            <tr style="color: white; background-color: #00A4E4;">
                <th>Transaction ID</th>
                <th>Function Name</th>
                <th>Country</th>
                <th>Team Leader</th>
                <th>User Name</th>
                <th>Process</th>
                <th>Process Map</th>
                <th>Activity</th>
                <th>Lob</th>
                <th>Received Date</th>
                <th>Start Date</th>
                <th>Complete Date</th>
                <th>Comment</th>
                <th>ID Number</th>
                <th>Status</th>
                <th>Premium</th>
                <th>Currency Code</th>
                <th>Priority</th>
                <th>Inception Date</th>
                <th>Date Received In Company</th>
                <th>SLA Hrs</th>
                <th>SLA Target</th>
                <th>SLA Type</th>
                <th>SLA Achievement</th>
                <th>Handling Time</th>
                <th>Week</th>
                <th>Month</th>
                <th>Sandbox</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.AllTransactions)
            {
                <tr>
                    <th>@transaction.TransactionId</th>
                    <th>@transaction.FunctionName</th>
                    <th>@transaction.Country</th>
                    <th>@transaction.TeamLead</th>
                    <th>@transaction.UserName</th>
                    <th>@transaction.Process</th>
                    <th>@transaction.ProcessMap</th>
                    <th>@transaction.Activity</th>
                    <th>@transaction.Lob</th>
                    <th>@transaction.ReceivedDate</th>
                    <th>@transaction.StartDate</th>
                    <th>@transaction.CompleteDate</th>
                    <th>@transaction.Comment</th>
                    <th>@transaction.ID_Number</th>
                    <th>@transaction.Status</th>
                    <th>@transaction.Premium</th>
                    <th>@transaction.CurrencyCode</th>
                    <th>@transaction.Priority</th>
                    <th>@transaction.InceptionDate</th>
                    <th>@transaction.DateReceivedInAig</th>
                    <th>@transaction.SlaHrs</th>
                    <th>@transaction.SlaTarget</th>
                    <th>@transaction.SlaType</th>
                    <th>@transaction.SlaAchievement</th>
                    <th>@transaction.HandlingTime</th>
                    <th>@transaction.Week</th>
                    <th>@transaction.Month</th>
                    <th>@transaction.Sandbox</th>
                </tr>
            }
        </tbody>
    </table>
</div>