@model UserViewModel
@{
    ViewData["Title"] = "Users Administration";
}
<h2>Update user</h2>

<div class="row">
    <form class="col-lg-4" asp-area="Admin" asp-action="UpdateUserAsync" method="post">
        <span asp-validation-for="User"></span>
        <div class="form-group">
            <label asp-for="User.Id">ID</label>
            <input asp-for="User.Id" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.IdLogin">ID Login</label>
            <input asp-for="User.IdLogin" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="User.FirstName">First Name</label>
                <input asp-for="User.FirstName" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="User.LastName">Last Name</label>
                <input asp-for="User.LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="User.Email">E-mail</label>
                <input asp-for="User.Email" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="User.Username">Username</label>
                <input asp-for="User.Username" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="User.TeamLead">Team Leader</label>
                <input asp-for="User.TeamLead" readonly="readonly" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="User.Sandbox">Sandbox</label>
                <input asp-for="User.Sandbox" class="form-control" />
            </div>
        </div>
        <div class="form-check row">
            <div class="col-lg-6">
                <label asp-for="@Model.IsManager"></label>
                <input asp-for="@Model.IsManager" id="IsManager" class="form-check-input" />
            </div>
            <div class="col-lg-6">
                <label asp-for="@Model.IsAdmin"></label>
                <input asp-for="@Model.IsAdmin" id="IsAdmin" class="form-check-input" />
            </div>
        </div>
        <div class="form-group">
            <input asp-for="User.IdTeamLead" type="hidden" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="User.Countries">Assigned countries</label>
            @Html.ListBoxFor(x => x.IdCountries, Model.Countries, new { @class = "form-control", @style = "height: 150px;" })
            <small>* Press and hold Ctrl to select multiple countries</small>
        </div>
        <div class="form-group">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-sm pull-left" style="color:white; background-color:#00A4E4;">Update</button>
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-sm btn-danger pull-right" asp-action="RemoveUser">Remove</button>
            </div>
        </div>
    </form>
</div>