@model CountryViewModel

@{
    ViewBag.Title = $"{Model.CountryList.FirstOrDefault().Country}";
    Layout = "_Layout";
}

@section Scripts
{
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#btnSave').click(function () {
                UpdateStatus()
            });

            $("#useractivity").change(function () {
                var type = $(this).val();
                var comment = $("#comment1").val();
                UpdateStatus(type, comment);
            });
        });

        function UpdateStatus(activityType, activityComment) {
            $("#currentstatus").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("UpdateStatus")',
                dataType: "json",
                data: { type: activityType, comment: activityComment },
                success: onSuccess2,
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }

        function onSuccess2(response) {
            $("#currentstatus").append("<span>" + response.status + "</span>");
        }

        function LoadData() {
            $("#tblMining tbody tr").remove();
            $.ajax({
                type: "Get",
                url: '@Url.Action("GetMining")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { id: 145 },
                success: onSuccess,
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
         }

        function onSuccess(ajaxResponse) { 
            var rows = '';
            $.each(ajaxResponse, function (index, ajaxResponse) {
                rows = "<tr>"
                    + "<td>" + ajaxResponse.idMining + "</td>"
                    + "<td>" + ajaxResponse.state + "</td>"
                    + "</tr>";
                $('#tblMining tbody').append(rows);
            })
        }

        function GetTokens() {
            var countryId = parseInt($('#country .in').attr("id").split("-")[1]);
            var processId = parseInt($('#process' + '-' + countryId + ' .in').attr("id").split("-")[1]);
            alert(countryId + ' ~ ' + processId);
        }
    </script>
}

<div class="container-fluid">
    <div class="row">
        <p>&nbsp;</p>
    </div>
    <div class="row">
        <div class="col-lg-4 text-left">
            <div class="panel-group" id="country">
            @foreach (var country in Model.CountryList)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#D1D0DE">
                        <h4 class="panel-title">
                            <a class="list-group-item" data-toggle="collapse" data-target="#country-@country.ID_Country" data-parent="#country" data-id="@country.ID_Country" style="color:white; background-color:#00A4E4; font-weight:bold">@country.Country</a>
                        </h4>
                    </div>
                    <div id="country-@country.ID_Country" class="panel-collapse collapse">
                        <div class="panel-body" style="background-color:#D1D0DE">
                            <div class="panel-group" id="process-@country.ID_Country">
                                <div class="panel panel-default">
                                @foreach (var process in country.ProcessList)
                                {
                                    <div class="panel">
                                        <a class="list-group-item" data-toggle="collapse" data-target="#process-@process.ID_Process" data-parent="#process-@country.ID_Country" data-id="@process.ID_Process" style="color:white; background-color:#00A4E4;">@process.Process</a>
                                    </div>

                                    <div class="panel-collapse collapse" id="process-@process.ID_Process">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <h6>Line of business</h6>
                                                    <div class="btn-group-vertical center-block" data-toggle="buttons">
                                                    @foreach (var lob in process.LobList)
                                                    {
                                                        <label class="btn btn-default form-check-label">
                                                            <input class="form-check-label" type="radio" autocomplete="off" data-id="@lob.ID_Lob">@lob.Lob
                                                        </label>
                                                    }
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h6>Activity</h6>
                                                    <div class="btn-group-vertical center-block" data-toggle="buttons">
                                                    @foreach (var activity in process.ActivityList)
                                                    {
                                                        <label class="btn btn-default form-check-label">
                                                            <input class="form-check-label" type="radio" autocomplete="off" data-id="@activity.ID_Activity">@activity.Activity
                                                        </label>
                                                    }
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h6>Status</h6>
                                                    <div class="btn-group-vertical center-block" data-toggle="buttons">
                                                    @foreach (var status in process.StatusList)
                                                    {
                                                        <label class="btn btn-default form-check-label">
                                                            <input class="form-check-label" type="radio" autocomplete="off" data-id="@status.ID_Status">@status.Status
                                                        </label>
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>

        <div class="col-lg-4">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="row">
                    <div class="col-lg-4 text-left">
                        <div class="panel-heading" style="background-color:#D1D0DE">
                            <div class="panel-title" style="background-color:#00A4E4; color:white; text-align:center; font-weight:bold">
                                <span id="currentstatus">
                                    Active
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 text-left" style="padding-top:20px">
                        <label>Update status</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <select id="useractivity" style="width:100%; height:30px">
                        @foreach (var status in Model.MiningList)
                        {
                            <option id=@status.IdMining value=@status.State>@status.State</option>
                        }
                        </select>
                        @*<input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">*@
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <form>
                            <div class="form-row">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="PolicyNumer">Policy Number</label>
                                        <input type="text" class="form-control" id="PolicyNumber1" placeholder="Enter policy number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="Amount">Amount</label>
                                        <input type="text" class="form-control" id="amount1" placeholder="Enter amount">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="ReceivedDate">Received Date</label>
                                    <input type="datetime" class="form-control" id="receiveddate1" placeholder="Enter received date">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="Comment">Comment</label>
                                    <input type="text" class="form-control" id="comment1" placeholder="Enter comment" style="height:84px">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="InceptionDate">Inception Date</label>
                                    <input type="datetime" class="form-control" id="inceptiondate1" placeholder="Enter inception date">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="BoundDate">Bound Date</label>
                                    <input type="datetime" class="form-control" id="bounddate1" placeholder="Enter bound date">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sectionCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Lock sections
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="receivedCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Lock received date
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="priorityCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        High priority
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>My previous transaction</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color:#D1D0DE">
                                    <th>Transaction ID</th>
                                    <th>Policy Number</th>
                                    <th>Received Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>123456</td>
                                    <td>EA1234PH</td>
                                    <td>@DateTime.Now</td>
                                    <td>Completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <h4>My pending transactions</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color:#D1D0DE">
                                    <th>Transaction ID</th>
                                    <th>Policy Number</th>
                                    <th>Received Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>123456</td>
                                    <td>EA1457PH</td>
                                    <td>@DateTime.Now</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td>234567</td>
                                    <td>EA7894PH</td>
                                    <td>@DateTime.Now</td>
                                    <td>Pending</td>
                                </tr>
                                <tr class="active">
                                    <td>567894</td>
                                    <td>EA5555PH</td>
                                    <td>@DateTime.Now</td>
                                    <td>Pending</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>