@model CountryViewModel

@{
    ViewBag.Title = $"{Model.CountryList.FirstOrDefault().Country}";
    Layout = "_Layout";
}

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <script language="javascript" type="text/javascript">
        $(function () {
            $('#btnSave').click(function () {
                UpdateStatus()
            });

            $('.btn-default').on('click', function () {
                var division = $(this).parent().attr("id");
                var selection = $(this).find('input').attr('id');

                if (division == "Lob") {
                    $('input[name=LobSelection]').val(selection);
                } else if (division == "Activity") {
                    $('input[name=ActivitySelection]').val(selection);
                } else if (division == "Status") {
                    $('input[name=StatusSelection]').val(selection);
                }
            });

            $(".list-group-item").on("click", function () {
                var division = $(this).data("parent");

                if ($(this).attr("aria-expanded") === 'true') {
                    if (division == "#country") {
                        $('input[name=CountrySelection]').val("");
                    }

                    $('input[name=ProcessSelection]').val("");
                    //console.log("hide");
                } else {
                    var btns = $(this).parent().next().find(".btn-group-vertical label");
                    btns.each(function (index, item) {
                        item.classList.remove('active');
                    });

                    var selection = $(this).data("id");

                    if (division == "#country") {
                        $('input[name=CountrySelection]').val(selection);
                    } else {
                        $('input[name=ProcessSelection]').val(selection);
                    }

                    $('input[name=ActivitySelection]').val("");
                    $('input[name=LobSelection]').val("");
                    $('input[name=StatusSelection]').val("");
                    //console.log("show");
                }
            });

            $("#useractivity").change(function () {
                var type = $(this).val();
                var comment = $("#comment1").val();
                UpdateStatus(type, comment);
            });

            $("#submittranform").submit(function (e) {
                e.preventDefault();
                $(this).find("[data-valmsg-replace]")
                    .removeClass("field-validation-error")
                    .addClass("field-validation-valid")
                    .empty();
                $(this).data("validator").settings.ignore = "";
                if ($(this).valid()) {
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("SubmitTransaction")',
                        dataType: "json",
                        data: {
                            processId: $('input[name=ProcessSelection]').val(),
                            activityId: $('input[name=ActivitySelection]').val(),
                            lobId: $('input[name=LobSelection]').val(),
                            receivedDate: ($("#datetimepicker1").data("DateTimePicker").viewDate()).format("YYYY-MM-DD HH:mm:ss"),
                            startDate: ($("#datetimepicker1").data("DateTimePicker").viewDate()).format("YYYY-MM-DD HH:mm:ss"),
                            statusId: $('input[name=StatusSelection]').val(),
                            comment: $("#comment1").val(),
                            numberId: $("#policynumber1").val(),
                            premium: $("#amount1").val(),
                            inceptionDate: ($("#datetimepicker2").data("DateTimePicker").viewDate()).format("YYYY-MM-DD HH:mm:ss"),
                            dateReceived: ($("#datetimepicker3").data("DateTimePicker").viewDate()).format("YYYY-MM-DD HH:mm:ss")
                        },
                        success: function (data) {
                            if (data.success) {
                                alert("New transaction id: " + data.newId);
                            }
                            else {
                                $.each(data.errors, function (ind, err) {
                                    alert(err);
                                });
                            }
                        },
                        error: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });
                } else { 
                    var validator = $(this).validate();
                    $.each(validator.errorList, function (key, value) {
                        $errorSpan = $("span[data-valmsg-for='" + value.element.id.replace('_', '.') + "']");
                        $errorSpan.html("<span style='color:red'>" + value.message + "</span>");
                        $errorSpan.show();
                    });
                }
            });

            $(function () {
                $('#datetimepicker1').datetimepicker();
                $('#datetimepicker2').datetimepicker();
                $('#datetimepicker3').datetimepicker();
            });
        });

        function UpdateStatus(activityType, activityComment) {
            $("#currentstatus").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("UpdateStatus")',
                dataType: "json",
                data: { type: activityType, comment: activityComment },
                success: onSuccess2,
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }

        function onSuccess2(response) {
            $("#currentstatus").append("<span>" + response.status + "</span>");
        }

        function LoadData() {
            $("#tblMining tbody tr").remove();
            $.ajax({
                type: "Get",
                url: '@Url.Action("GetMining")',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { id: 145 },
                success: onSuccess,
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
         }

        function onSuccess(ajaxResponse) {
            var rows = '';
            $.each(ajaxResponse, function (index, ajaxResponse) {
                rows = "<tr>"
                    + "<td>" + ajaxResponse.idMining + "</td>"
                    + "<td>" + ajaxResponse.state + "</td>"
                    + "</tr>";
                $('#tblMining tbody').append(rows);
            })
        }

        function GetTokens() {
            var countryId = parseInt($('#country .in').attr("id").split("-")[1]);
            var processId = parseInt($('#process' + '-' + countryId + ' .in').attr("id").split("-")[1]);
            alert(countryId + ' ~ ' + processId);
        }
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="container-fluid">
    <div class="row">
        <p>&nbsp;</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel-group" id="country">
                @foreach (var country in Model.CountryList)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#D1D0DE">
                            <h4 class="panel-title">
                                <a class="list-group-item" data-toggle="collapse" data-target="#country-@country.ID_Country" data-parent="#country" data-id="@country.ID_Country" style="color:white; background-color:#00A4E4; font-weight:bold; cursor:default">@country.Country</a>
                            </h4>
                        </div>
                        <div id="country-@country.ID_Country" class="panel-collapse collapse">
                            <div class="panel-body" style="background-color:#D1D0DE">
                                <div class="
                                     " id="process-@country.ID_Country">
                                    <div class="panel panel-default">
                                        @foreach (var process in country.ProcessList)
                                        {
                                            <div class="panel">
                                                <a class="list-group-item small" data-toggle="collapse" data-target="#process-@process.ID_Process" data-parent="#process-@country.ID_Country" data-id="@process.ID_Process" style="color:white; background-color:#00A4E4; padding-bottom: 5px; padding-top: 5px; cursor:default">@process.Process</a>
                                            </div>

                                            <div class="panel-collapse collapse" id="process-@process.ID_Process">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <h6>Line of business</h6>
                                                            <div class="btn-group-vertical center-block" data-toggle="buttons" id="Lob">
                                                                @foreach (var lob in process.LobList)
                                                                {
                                                                    <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                        <input class="form-check-label" type="radio" autocomplete="off" id="@lob.ID_Lob">@lob.Lob
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <h6>Activity</h6>
                                                            <div class="btn-group-vertical center-block" data-toggle="buttons" id="Activity">
                                                                @foreach (var activity in process.ActivityList)
                                                                {
                                                                    <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                        <input class="form-check-label" type="radio" autocomplete="off" id="@activity.ID_Activity">@activity.Activity
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <h6>Status</h6>
                                                            <div class="btn-group-vertical center-block" data-toggle="buttons" id="Status">
                                                                @foreach (var status in process.StatusList)
                                                                {
                                                                    <label class="btn btn-default form-check-label" style="font-size:10px; cursor:default">
                                                                        <input class="form-check-label" type="radio" autocomplete="off" id="@status.ID_Status">@status.Status
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-4">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel-heading" style="background-color:#D1D0DE">
                            <div class="panel-title" style="background-color:#00A4E4; color:white; text-align:center; font-weight:bold">
                                <span id="currentstatus">
                                    Active
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" style="padding-top:20px">
                        <label>Update status</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <select id="useractivity" style="width:100%; height:30px">
                            @foreach (var status in Model.MiningList)
                            {
                                <option id=@status.IdMining value=@status.State>@status.State</option>
                            }
                        </select>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <form id="submittranform" method="post">
                            <div class="form-row">
                                <div class="form-group">
                                    <span asp-validation-for="Transaction.IdCountry" class="text-danger"></span>
                                    <input asp-for="Transaction.IdCountry" type="hidden" name="CountrySelection" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <span asp-validation-for="Transaction.IdProcess" class="text-danger"></span>
                                    <input asp-for="Transaction.IdProcess" type="hidden" name="ProcessSelection" />                                    
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <span asp-validation-for="Transaction.IdActivity" class="text-danger"></span>
                                    <input asp-for="Transaction.IdActivity" type="hidden" name="ActivitySelection" />                                    
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <span asp-validation-for="Transaction.IdLob" class="text-danger"></span>
                                    <input asp-for="Transaction.IdLob" type="hidden" name="LobSelection" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <span asp-validation-for="Transaction.IdStatus" class="text-danger"></span>
                                    <input asp-for="Transaction.IdStatus" type="hidden" name="StatusSelection" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Transaction.IdNumber">Policy Number</label>
                                    <span asp-validation-for="Transaction.IdNumber" class="text-danger"></span>
                                    <input asp-for="Transaction.IdNumber" class="form-control" id="policynumber1" placeholder="Enter policy number">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Transaction.Premium">Premium</label>
                                    <span asp-validation-for="Transaction.Premium" class="text-danger"></span>
                                    <input asp-for="Transaction.Premium" class="form-control" id="amount1" placeholder="Enter amount">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Transaction.ReceivedDate">Received Date</label>
                                    <span asp-validation-for="Transaction.ReceivedDate" class="text-danger"></span>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input asp-for="Transaction.ReceivedDate" class="form-control form-date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">                                    
                                    <label asp-for="Transaction.Comment">Comment</label>
                                    <span asp-validation-for="Transaction.Comment" class="text-danger"></span>
                                    <input asp-for="Transaction.Comment" class="form-control" id="comment1" placeholder="Enter comment">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Transaction.InceptionDate">Inception Date</label>
                                    <span asp-validation-for="Transaction.InceptionDate" class="text-danger"></span>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input asp-for="Transaction.InceptionDate" class="form-control form-date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label asp-for="Transaction.DateReceived">Bound Date</label>
                                    <span asp-validation-for="Transaction.DateReceived" class="text-danger"></span>
                                    <div class='input-group date' id='datetimepicker3'>
                                        <input asp-for="Transaction.DateReceived" class="form-control form-date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sectionCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Lock sections
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="receivedCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Lock received date
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input asp-for="Transaction.Priority" class="form-check-input" id="priorityCheck">
                                    <label asp-for="Transaction.Priority" class="form-check-label" for="gridCheck">
                                        High priority
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @{ var tempDateDemo = DateTime.Now;}
        <div class="col-lg-4">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>My previous transaction</h4>
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr style="background-color:#D1D0DE">
                                    <th>Transaction ID</th>
                                    <th>Policy Number</th>
                                    <th>Received Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>123456</td>
                                    <td>EA1234PH</td>
                                    <td>@tempDateDemo</td>
                                    <td>Completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <h4>My pending transactions</h4>
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr style="background-color:#D1D0DE">
                                    <th>Transaction ID</th>
                                    <th>Policy Number</th>
                                    <th>Received Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td>123456</td>
                                    <td>EA1457PH</td>
                                    <td>@tempDateDemo</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td>234567</td>
                                    <td>EA7894PH</td>
                                    <td>@tempDateDemo</td>
                                    <td>Pending</td>
                                </tr>
                                <tr class="active">
                                    <td>567894</td>
                                    <td>EA5555PH</td>
                                    <td>@tempDateDemo</td>
                                    <td>Pending</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>